@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes spinrev { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spinrev { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spinrev { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.header-search-box {
    position: relative;
    display: -webkit-inline-box;
    width: 144px;
    height: 52px;
    transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 0.55);
    .search-inp {
        background: #fff;
        outline: none;
        height: 100%;
        border-radius: 50px;
        border: 3px solid;
        border-color: $primary;
        font-size: 18px;
        padding: 0 30px 0 55px;
        display: flex;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 0.55);
    }
    .search-btn {
        position: absolute;
        display: flex;
        z-index: 1;
        height: 100%;
        .btn-wrapper{
            &--label {
                font-size: 18px;
                animation: fadeIn 1s;
            }
        }
        .btn-wrapper--icon {
            animation:spin 5s linear;
        }
        .MuiButtonBase-root {
            border: 1px solid;
            border-color: transparent;
        }
        transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 0.55);
    }
    .custom-search-btn {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 1;
        opacity: 1;
        .btn-wrapper{
            &--label {
                font-size: 18px;
            }
        }
        .btn-wrapper--icon {
            display: flex;
            animation:spinrev 0.5s ease;
        }
        .MuiButtonBase-root {
            transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 0.55);
        }
        transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 0.55);
    }
    .search-btn--icon {
        transform: translateX(-50%);
        z-index: 1;
        display: none;
        opacity: 0;
        left: 32px;
        position: absolute;
        transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 0.55);
        top: -2px;
    }
    .search-btn--close {
        transform: translateX(50%);
        z-index: -1;
        opacity: 0;
        right: 70px;
        position: absolute;
        transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 0.55);
        top: -2px;
        .btn-wrapper--icon {
            animation:spin 0.5s linear;
        }
    }

    &.is-active {
        width: 360px;
        .search-inp {
            opacity: 1;
        }
        .search-btn {
            .btn-wrapper--icon {
                animation:spin 0.1s linear;
            }
            .btn-wrapper--label {
                display: none;
            }
            .MuiButtonBase-root {
                top: 6px;
                left: 7px;
            }
        }
        .custom-search-btn { 
            opacity: 0;
            .btn-wrapper--icon {
                display: none;
            }
            .MuiButtonBase-root {
                padding-right: 242px;
                .btn-wrapper--label {
                    margin-left: 22px;
                }
            }
        }
        .search-btn--icon {
            display: flex;
            left: 27px;
            opacity: 1;
            .btn-wrapper--icon {
                animation:spin 0.5s linear;
            }
        }
        .search-btn--close {
            right: 27px;
            opacity: 1;
            z-index: 1;
            .btn-wrapper--icon {
                display: flex;
                animation:spin 0.5s linear;
            }
        }
    }
}

//custom search ref

.custom-search-box {
    position: relative;
    height: 60px;
    width: 60px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    input {
        height: 100%;
        border: none;
        outline: none;
        background: #fff;
        font-size: 18px;
        border-radius: 50px;
        padding: 0 60px 0 20px;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .search-btn{
        position: absolute;
        top: 50%;
        right: 0px;
        z-index: 1;
        transform: translateY(-50%);
        height: 60px;
        width: 60px;
        color: #664AFF;
        background: #fff;
        line-height: 60px;
        font-size: 22px;
        text-align: center;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .cancel-btn {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 25px;
        cursor: pointer;
        transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &.active {
        width: 350px;
        .search-btn{
            right: 5px;
            height: 50px;
            width: 50px;
            color: #fff;
            background: #664AFF;
            line-height: 50px;
            font-size: 20px;
            transform: translateY(-50%) rotate(360deg);
        }

        input {
            opacity: 1;
        }
        .cancel-btn {
            right: -40px;
            transform: translateY(-50%) rotate(360deg);
        }
    }
}
