//  Core

@use "sass:math";

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto !important;
  padding: 0 !important;
}

.app-wrapper {
  display: flex;
  flex: 1;
  background: $page-bg;
  overflow-x: hidden;
  transition: all 0.5s $app-sidebar-transition;
}

.app-main {
  display: flex;
  flex: 1 auto;
  min-width: 0;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  display: flex;
  padding: 0;
  flex-direction: column;
  transition: all 0.5s $app-sidebar-transition;
  
  &--inner {
    overflow: hidden;
    padding: ($layout-spacer * 1.2) ($layout-spacer * 1.7) ($layout-spacer * 2) ($layout-spacer * 1.7);
    @include media-breakpoint-down(sm) {
      padding: ($layout-spacer * 2.5) ($layout-spacer *.1);
    }
    @include media-breakpoint-down(md) {
      padding: ($layout-spacer * 2) ($layout-spacer * 1);
      // border-left: rgba($black, .1) solid 1px;
      // padding: math.div($spacer, 3.5) ($spacer) math.div($spacer, 3.5) 0;
      // margin: 0 ($spacer * 2) 0 0;
    }
    display: flex;
    flex: 1;

    &__wrapper {
      display: block;
      width: 100%;
    }
  }
}

// Fixed sidebar

.app-sidebar-fixed {
  .app-content {
    padding-left: $sidebar-width;
  }
}

@include media-breakpoint-down(md) {
  .app-content {
    z-index: 500;
    padding-left: 0 !important;
  }
}

// Fixed header

@include media-breakpoint-up(lg) {
  .app-header-fixed {
    .app-content {
      padding-top: 0;
    }
  }
}
// Collapsed sidebar

@include media-breakpoint-up(lg) {
  .app-sidebar-collapsed {
    .app-content {
      padding-left: $sidebar-width-collapsed;
    }
  }
}
