//  Core

@use 'sass:math';

.app-header {
    height: $header-height;
    padding: 0 math.div($layout-spacer, 3);
    background: $header-bg;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1111;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);

    &--pane {
        display: flex;
        align-items: center;
    }

    @include media-breakpoint-down(md) {
        .app-header--pane + .app-header--pane {
            transition: $transition-base;
            transform: scale(1);
            visibility: visible;
        }
    }
    &--shadow {
        @include media-breakpoint-up(md) {
            border-bottom: rgba($black, 0.1) solid 1px;
        }
        @include media-breakpoint-down(md) {
            box-shadow: $header-shadow;
        }
    }

    &--title {
        h1 {
            font-size: math.div($display4-size, 0.9);
            font-weight: 900;
            margin: 0;
        }
        @include media-breakpoint-down(md) {
            margin-left: ($layout-spacer * 0.3);
            padding-left: ($layout-spacer * 0.3);
            border-left: rgba($black, 0.1) solid 1px;
        }
    }

    &--opacity-bg {
        background: $header-bg-clear;
        @include media-breakpoint-down(md) {
            background: $header-bg-transparent;
        }
    }
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
        background: $primary !important;
    }

    .toggle-mobile-sidebar-btn {
        display: none;
        padding: 0;

        .MuiButton-label {
            display: flex;
        }
    }

    // &:hover {
    //   background: $header-bg !important;
    // }
}

// Fixed header

@include media-breakpoint-up(lg) {
    .app-header-fixed {
        .app-header {
            // position: fixed;
            // left: $sidebar-width;
            margin: 0 0 ($layout-spacer * 0.5);
            padding: ($layout-spacer * 0.6) ($layout-spacer * 0.6) $layout-spacer 0;
            right: 0;
            margin-left: 0;
        }
    }
}
// Responsive

@include media-breakpoint-down(md) {
    .app-header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        flex-shrink: 0;
        padding: 0 math.div($layout-spacer, 3);

        .toggle-mobile-sidebar-btn {
            display: flex;
        }
    }
}
