//  Variables

$header-height:             78px;
$header-bg:                 $white;
$header-bg-clear:           rgba($white, .1);
$header-bg-transparent:     rgba($white, .95);
$header-shadow:             $box-shadow-layout-bottom;
$header-shadow-clear:       $box-shadow-layout-bottom-clear;
